*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: aliceblue;
}

body{
    height: 100%;
    width: 100%;
    background-color: black;
}

.container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-items:center;
    justify-content: center;
}

form{
    border: 3px solid red;
}

.f1 .f2 .f3 .f4{
    flex:1;
    display: flex;
    justify-content: center;
}

img{
    margin-top: 15%;
}

button{
    color: black;
}
