@import url('https://fonts.googleapis.com/css?family=Mochiy+Pop+One');
@import url('https://fonts.googleapis.com/css?family=Milonga');
@import url('https://fonts.googleapis.com/css?family=Mystery+Quest');
@import url('https://fonts.googleapis.com/css?family=Mountains+of+Christmas');
@import url('https://fonts.googleapis.com/css?family=Emilys+Candy');
@import url('https://fonts.googleapis.com/css?family=Oleo+Script+Swash+Caps');
@import url('https://fonts.googleapis.com/css?family=Poller+One');
@import url('https://fonts.googleapis.com/css?family=Bungee+Shade');
@import url('https://fonts.googleapis.com/css?family=Days+One');
@import url('https://fonts.googleapis.com/css?family=Syncopate');
@import url('https://fonts.googleapis.com/css?family=Audiowide');
@import url('https://fonts.googleapis.com/css?family=Black+Han+Sans');
@import url('https://fonts.googleapis.com/css?family=Sans+Serif');
@import url('https://fonts.googleapis.com/css?family=Slackey');


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
 background-color: black;    
}

.bgIMG{
    height: 100%;
    width: 100%;
    background-image: url('Slovo\ Mladosti_mm.png');
    background-repeat: no-repeat;
    /* background-size: contain; */
    background-size: cover;
}

.container{
    /*CSS CUSTOM PROPERTIES*/
    --form-bg:rgb(0, 0, 0, 0.8);
    --form-border:6px solid rgb(0, 0, 0);
    --form-shadow: 0 0 50px 0 rgba(255, 154, 154, 0.1) inset;
    --input-bg-col: rgba(67, 51, 51, 0.211);
    --placeholder-col: rgb(56, 56, 56);/*rgb(95, 75, 75);*/
    --label-txt-col: lightgray;
    --input-txt-col: rgb(255, 255, 255);
    --form-font:'Sans Serif';
    height: 1000px;
    width: 100%;
    background: linear-gradient(180deg, rgba(0,0,0,0) 66%, rgba(0,0,0,1) 79%);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header{
    width: 65%;
    height: 80px;
    background-color: var(--form-bg);
    background: linear-gradient(0deg, rgb(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 100%);

}

h1{
    font-family: 'Slackey';
    font-weight: 800;
    font-size: 44px;
    letter-spacing: 3px; 
    text-align: center;
    margin: 20px;
    background: -webkit-linear-gradient(rgb(255, 0, 0), rgb(255, 183, 0));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0px 0px 12px  rgb(255, 136, 0);
    -webkit-text-stroke: 1px rgb(255, 255, 0);
}

form{
    width: 65%;
    height: 600px;
    padding:20px 50px;
    background-color: var(--form-bg);
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    /* border: 1px solid red; */
}

.formRow{
    width: 100%;
    height: 48px;
    background-color: black;
    display: flex;
    background: linear-gradient(90deg, rgba(0,0,0,0)5%, rgba(0,0,0,1)50%);
    display: flex;
    justify-content: end;
    /* border: 1px solid red; */

}

select{
    font-family: var(--form-font);
    color: var(--input-txt-col);
    font-size: 24px;
    font-weight: bold;
    height: 44px;
    background-color: var(--input-bg-col);
    box-shadow: var();
    flex: 0.5;
    padding-left: 20px;
    padding-top: 5px;
    margin-right: 2px;
    border: 1px solid rgba(245, 245, 245, 0.5);    height: 44px;
    width: 300px;
    box-shadow: var(--form-shadow);
}

label{
    height: 44px;
    padding-right: 20px;
    padding-top:16px;
    margin-right: 2px;
    text-align: end;
    font-size: 18px;
    font-weight: bold;
    font-family: var(--form-font);
    color:var(--label-txt-col);
    /* background:linear-gradient(-90deg, rgba(67, 51, 51, 0.75) 0%, rgba(0,0,0,0.75) 79%); */
    background:linear-gradient(-90deg, rgba(67, 59, 59, 0.768) 0%, rgba(0,0,0,0.75) 79%);
    flex:0.25;
}

input{
    box-sizing: border-box;
    flex: 0.5;
    padding-left: 20px;
    padding-top: 4px;
    margin-right: 2px;
    border: 1px solid rgba(245, 245, 245, 0.5);
    height: 44px;
    width: 300px;
    color: var(--input-txt-col);
    font-size: 28px;
    font-weight: bold;
    background-color: var(--input-bg-col);
    font-family: var(--form-font);
    box-shadow: var(--form-shadow);
}

input:focus{
    /* border:none; */
    color: black;
    outline: none;
    background-color:lightgray;
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.451) inset;
}

input::after{
    color: chocolate;
    background-color: blue;
}

/* input:hover{
    background-color: var(--placeholder-col);    
} */


input::placeholder{
    color: var(--placeholder-col);

}

button{
    font-size: 28px;
    font-weight: bold;
    flex: 0.6;
    margin-right: 2px;
    background-color: var(--input-bg-col);
    color: var(--input-txt-col);
    border-style: none;
    border: none;
    height: 44px;
    border-radius:30px;
    box-shadow: var(--form-shadow);
}

